@font-face {
  font-family: "ccc"; /* Project id 2612420 */
  src: url('iconfont.woff2?t=1623916124861') format('woff2'),
       url('iconfont.woff?t=1623916124861') format('woff'),
       url('iconfont.ttf?t=1623916124861') format('truetype');
}

.ccc {
  font-family: "ccc" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu1:before {
  content: "\e6a8";
}

.icon-paixu2:before {
  content: "\e624";
}

.icon-paixu3:before {
  content: "\e627";
}

.icon-sort-full:before {
  content: "\ea4b";
}

.icon-paixu11:before {
  content: "\e6cd";
}

.icon-paixu-:before {
  content: "\e615";
}

.icon-paixu:before {
  content: "\e876";
}

